// Place all the styles related to the admin/categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.number-font-green {
  color: rgba(0, 130, 29, 0.7);
  font-weight: 700;
  font-family: "Montserrat";
}